[submodule "ios/AZSocketIO"]
	path = ios/AZSocketIO
	url = https://github.com/pashields/AZSocketIO.git
[submodule "android/AutobahnAndroid"]
	path = android/AutobahnAndroid
	url = https://github.com/Godefroy/AutobahnAndroid.git
